xswing/com/xswing/framework/xsd/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="aa">
		<xsd:all>
			<xsd:element name="e1" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
			<xsd:element name="e2" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="bb">
		<xsd:complexContent>
			<xsd:extension base="aa"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>