xswing/com/xswing/framework/xsd/xswing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="xpanel" type="xpanel"></xsd:element>

  <xsd:complexType name="wrapper">
    <xsd:choice>
      <xsd:element name="borderPanel" type="boderPanel"></xsd:element>
      <xsd:element name="gridBagPanel" type="gridBagPanel"></xsd:element>
      <xsd:element name="flowPanel" type="flowPanel"></xsd:element>
      <xsd:element name="gridPanel" type="xsd:string"></xsd:element>
      <xsd:element name="button" type="button"></xsd:element>
      <xsd:element name="comboBox" type="comboBox"></xsd:element>
      <xsd:element name="cbean" type="cbean"></xsd:element>
      <xsd:element name="import" type="import"></xsd:element>
      <xsd:element name="label" type="label"></xsd:element>
      <xsd:element name="boxPanel" type="boxPanel"></xsd:element>
      <xsd:element name="splitPanel" type="splitPanel"></xsd:element>
      <xsd:element name="scrollPanel" type="scrollPanel"></xsd:element>
      <xsd:element name="textField" type="textField"></xsd:element>
      <xsd:element name="menuBar" type="menuBar"></xsd:element>
      <xsd:element name="menu" type="menu"></xsd:element>
      <xsd:element name="checkBox" type="checkBox"></xsd:element>
      <xsd:element name="tabbedPanel" type="tabbedPanel"></xsd:element>
      <xsd:element name="toolBar" type="toolBar"></xsd:element>
      <xsd:element name="cardPanel" type="cardPanel"></xsd:element>
      <xsd:element name="textArea" type="textArea"></xsd:element>
      <xsd:element name="radioButton" type="radioButton"></xsd:element>
      <xsd:element name="tree" type="tree"></xsd:element>
      <xsd:element name="separator" type="separator"></xsd:element>
      <xsd:element name="popupMenu" type="menu"></xsd:element>
      <xsd:element name="table" type="table"></xsd:element>
      <xsd:element name="treeTable" type="treeTable"></xsd:element>
      <xsd:element name="browser" type="browser"></xsd:element>
      <xsd:element name="list" type="list"></xsd:element>
      <xsd:element name="passwordField" type="passwordField"></xsd:element>
    </xsd:choice>
  </xsd:complexType>

  <xsd:group name="baseGroups">
    <xsd:sequence>
      <xsd:element name="validator" type="bean" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="property" type="property" maxOccurs="unbounded" minOccurs="0"></xsd:element>    </xsd:sequence>
  </xsd:group>

  <xsd:attributeGroup name="baseAttributes">
    <xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    <xsd:attribute name="class" type="xsd:string"></xsd:attribute>
  </xsd:attributeGroup>

  <xsd:complexType name="boderPanel">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="north" type="wrapper" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="center" type="wrapper" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="south" type="wrapper" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="west" type="wrapper" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="east" type="wrapper" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:complexType name="bean">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:complexType name="property" mixed="true">
    <xsd:sequence>
      <xsd:element name="value" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
    <xsd:attribute name="value" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="flowPanel">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="component" type="wrapper" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
    <xsd:attribute name="align" type="halign" default="CENTER"></xsd:attribute>
    <xsd:attribute name="hgap" type="xsd:int"></xsd:attribute>
    <xsd:attribute name="vgap" type="xsd:int"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="gridBagPanel">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="row" type="row" maxOccurs="unbounded" minOccurs="1"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:complexType name="row">
    <xsd:sequence>
      <xsd:element name="cell" type="cell" maxOccurs="unbounded" minOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cell">
    <xsd:complexContent>
      <xsd:extension base="wrapper">
        <xsd:attribute name="gridx" type="xsd:int"></xsd:attribute>
        <xsd:attribute name="gridy" type="xsd:int"></xsd:attribute>
        <xsd:attribute name="gridwidth" type="xsd:int" default="1"></xsd:attribute>
        <xsd:attribute name="gridheight" type="xsd:int" default="1"></xsd:attribute>
        <xsd:attribute name="weightx" type="xsd:int" default="100"></xsd:attribute>
        <xsd:attribute name="weighty" type="xsd:int" default="100"></xsd:attribute>
        <xsd:attribute name="fill" type="fill" default="NONE"></xsd:attribute>
        <xsd:attribute name="anchor" type="anchor" default="CENTER"></xsd:attribute>
        <xsd:attribute name="ipadx" type="xsd:int" default="0"></xsd:attribute>
        <xsd:attribute name="ipady" type="xsd:int" default="0"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="path">
    <xsd:attribute name="path" type="xsd:string" use="required"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="xpanel">
    <xsd:complexContent>
      <xsd:extension base="boderPanel">
        <xsd:sequence>
          <xsd:element name="processor" type="processor" maxOccurs="unbounded" minOccurs="0"></xsd:element>
          <xsd:element name="component" type="wrapper" maxOccurs="unbounded" minOccurs="0"></xsd:element>
          <xsd:element name="bean" type="bean" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="processor" type="xsd:string"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="import">
    <xsd:complexContent>
      <xsd:extension base="path">
        <xsd:sequence>
          <xsd:element name="model" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
          <xsd:element name="property" type="property" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
        <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
        <xsd:attribute name="model" type="xsd:string"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="fill">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NONE"></xsd:enumeration>
      <xsd:enumeration value="BOTH"></xsd:enumeration>
      <xsd:enumeration value="HORIZONTAL"></xsd:enumeration>
      <xsd:enumeration value="VERTICAL"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="anchor">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CENTER"></xsd:enumeration>
      <xsd:enumeration value="NORTH"></xsd:enumeration>
      <xsd:enumeration value="EAST"></xsd:enumeration>
      <xsd:enumeration value="SOUTHEAST"></xsd:enumeration>
      <xsd:enumeration value="SOUTH"></xsd:enumeration>
      <xsd:enumeration value="SOUTHWEST"></xsd:enumeration>
      <xsd:enumeration value="WEST"></xsd:enumeration>
      <xsd:enumeration value="NORTHWEST"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="boxPanel">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="component" type="wrapper" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="strut" maxOccurs="unbounded" minOccurs="0">
        <xsd:complexType>
          <xsd:attribute name="size" type="xsd:int"></xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="glue" maxOccurs="unbounded" minOccurs="0">
        <xsd:complexType>
        </xsd:complexType>
      </xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:choice>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
    <xsd:attribute name="axis" type="axis" default="X_AXIS"></xsd:attribute>
    <xsd:attribute name="halign" type="halign"></xsd:attribute>
    <xsd:attribute name="valign" type="valign"></xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="axis">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="X_AXIS"></xsd:enumeration>
      <xsd:enumeration value="Y_AXIS"></xsd:enumeration>
      <xsd:enumeration value="PAGE_AXIS"></xsd:enumeration>
      <xsd:enumeration value="LINE_AXIS"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="halign">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LEFT"></xsd:enumeration>
      <xsd:enumeration value="RIGHT"></xsd:enumeration>
      <xsd:enumeration value="CENTER"></xsd:enumeration>
      <xsd:enumeration value="LEADING"></xsd:enumeration>
      <xsd:enumeration value="TRAILING"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="valign">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TOP"></xsd:enumeration>
      <xsd:enumeration value="BOTTOM"></xsd:enumeration>
      <xsd:enumeration value="CENTER"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="splitPanel">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="before" type="wrapper" maxOccurs="1" minOccurs="1"></xsd:element>
      <xsd:element name="after" type="wrapper" maxOccurs="1" minOccurs="1"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attribute name="orientation" type="orientation"></xsd:attribute>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:simpleType name="orientation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="VERTICAL"></xsd:enumeration>
      <xsd:enumeration value="HORIZONTAL"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="separatorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MENU"></xsd:enumeration>
      <xsd:enumeration value="TOOLBAR"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="scrollPanel">
    <xsd:sequence>
      <xsd:element name="view" type="wrapper" maxOccurs="1" minOccurs="1"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:complexType name="menuBar">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="item" type="wrapper" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>


  <xsd:complexType name="menu">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="item" type="wrapper" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attribute name="text" type="xsd:string"></xsd:attribute>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:complexType name="tabbedPanel">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="tab" type="tab" maxOccurs="unbounded" minOccurs="1"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:simpleType name="border">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NONE"></xsd:enumeration>
      <xsd:enumeration value="LINE"></xsd:enumeration>
      <xsd:enumeration value="RAISEDBEVEL"></xsd:enumeration>
      <xsd:enumeration value="LOWEREDBEVEL"></xsd:enumeration>
      <xsd:enumeration value="ETCHED"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="toolBar">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="component" type="wrapper" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
    <xsd:attribute name="float" type="xsd:boolean"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="argument" mixed="true">
    <xsd:sequence>
      <xsd:element name="value" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="value" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="cardPanel">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="card" type="card" maxOccurs="unbounded" minOccurs="1"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
    <xsd:attribute name="hgap" type="xsd:int"></xsd:attribute>
    <xsd:attribute name="vgap" type="xsd:int"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="tab">
    <xsd:complexContent>
      <xsd:extension base="wrapper">
        <xsd:attribute name="title" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="closable" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="icon" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="tooltip" type="xsd:string"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="processor" mixed="true">
    <xsd:attribute name="class" type="xsd:string"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="button">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="text" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="icon" type="xsd:string"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="label">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="text" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="icon" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="halign" type="halign"></xsd:attribute>
        <xsd:attribute name="valign" type="valign"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="comboBox">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:sequence>
          <xsd:element name="item" type="element" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="items" type="xsd:string"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="textArea">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="columns" type="xsd:int"></xsd:attribute>
        <xsd:attribute name="rows" type="xsd:int"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="textField">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="columns" type="xsd:int"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="passwordField">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="columns" type="xsd:int"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="element" mixed="true">
    <xsd:sequence>
      <xsd:element name="value" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="value" type="xsd:string"></xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="checkBox">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="text" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="icon" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="selected" type="xsd:boolean"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="radioButton">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="text" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="icon" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="selected" type="xsd:boolean"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:attributeGroup name="componentAttributes">
    <xsd:attribute name="title" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="border" type="border"></xsd:attribute>
    <xsd:attribute name="width" type="xsd:double"></xsd:attribute>
    <xsd:attribute name="height" type="xsd:double"></xsd:attribute>
    <xsd:attribute name="tooltip" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="padding" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="editor" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="enabled" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="editable" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="value" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="action" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="background" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="foreground" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="opaque" type="xsd:boolean"></xsd:attribute>
    <xsd:attribute name="maxWidth" type="xsd:double"></xsd:attribute>
    <xsd:attribute name="maxHeight" type="xsd:double"></xsd:attribute>
    <xsd:attribute name="minWidth" type="xsd:double"></xsd:attribute>
    <xsd:attribute name="minHeight" type="xsd:double"></xsd:attribute>
    <xsd:attribute name="fontName" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="fontStyle" type="fontStyle"></xsd:attribute>
    <xsd:attribute name="fontSize" type="xsd:int"></xsd:attribute>
  </xsd:attributeGroup>

  <xsd:simpleType name="fontStyle">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PLAIN"></xsd:enumeration>
      <xsd:enumeration value="BOLD"></xsd:enumeration>
      <xsd:enumeration value="ITALIC"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="cbean">
    <xsd:complexContent>
      <xsd:extension base="bean">
        <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="separator">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="orientation" type="orientation"></xsd:attribute>
        <xsd:attribute name="type" type="separatorType"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="tree">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:attribute name="rootVisible" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="rowHeight" type="xsd:int"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="table">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:element name="model" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="column" type="tableColumn" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
    <xsd:attribute name="model" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="horizontalLines" type="xsd:boolean"></xsd:attribute>
    <xsd:attribute name="verticalLines" type="xsd:boolean"></xsd:attribute>
    <xsd:attribute name="rowHeight" type="xsd:int"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="tableColumn">
    <xsd:sequence>
      <xsd:element name="header" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="editor" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="renderer" type="bean" maxOccurs="1" minOccurs="0"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="width" type="xsd:int"></xsd:attribute>
    <xsd:attribute name="class" type="xsd:string"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="treeTable">
    <xsd:complexContent>
      <xsd:extension base="table"></xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="card">
    <xsd:complexContent>
      <xsd:extension base="wrapper">
        <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="browser">
    <xsd:sequence>
      <xsd:element name="argument" type="argument" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      <xsd:group ref="baseGroups"></xsd:group>
    </xsd:sequence>
    <xsd:attribute name="url" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="file" type="xsd:string"></xsd:attribute>
    <xsd:attributeGroup ref="baseAttributes"></xsd:attributeGroup>
    <xsd:attributeGroup ref="componentAttributes"></xsd:attributeGroup>
  </xsd:complexType>

  <xsd:complexType name="list">
    <xsd:complexContent>
      <xsd:extension base="cbean">
        <xsd:sequence>
          <xsd:element name="element" type="element" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="elements" type="xsd:string"></xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>